name: Server CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  GO_VERSION: 1.17.6

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          reporter: github-pr-check
          github_token: ${{ secrets.GITHUB_TOKEN }}
  mod:
    name: Module Download
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Mod Cache
        id: mod-cache
        uses: actions/cache@v2.1.7
        with:
          path: ~/go/pkg/mod
          key: mod-${{ hashFiles('**/go.sum') }}
      - name: Setup Go
        if: steps.mod-cache.outputs.cache-hit != 'true'
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Module Download
        if: steps.mod-cache.outputs.cache-hit != 'true'
        run: go mod download
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [mod]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Set Mod Cache
        uses: actions/cache@v2.1.7
        with:
          path: ~/go/pkg/mod
          key: mod-${{ hashFiles('**/go.sum') }}
      - name: Build
        run: go build -o ./Remote-BMI server/*.go
      - uses: actions/upload-artifact@v2.3.1
        with:
          name: Remote-BMI
          path: ./Remote-BMI
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [mod]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Set Mod Cache
        uses: actions/cache@v2.1.7
        with:
          path: ~/go/pkg/mod
          key: mod-${{ hashFiles('**/go.sum') }}
      - name: Run Test
        run: go test ./... -v
