name: Client CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    working-directory: client

jobs:
  mod:
    name: Module Download
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Mod Cache
        id: mod-cache
        uses: actions/cache@v3.3.2
        with:
          path: ./client/node_modules
          key: mod-${{ hashFiles('**/package-lock.json') }}
      - name: Setup Node
        if: steps.mod-cache.outputs.cache-hit != 'true'
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: "npm"
          cache-dependency-path: "client/package-lock.json"
      - name: Install npm
        if: steps.mod-cache.outputs.cache-hit != 'true'
        run: npm install -g npm@7
      - name: Module Download
        if: steps.mod-cache.outputs.cache-hit != 'true'
        run: npm ci
  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: [mod]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: "npm"
          cache-dependency-path: "client/package-lock.json"
      - name: Set Mod Cache
        id: mod-cache
        uses: actions/cache@v3.3.2
        with:
          path: ./client/node_modules
          key: mod-${{ hashFiles('**/package-lock.json') }}
      - name: Lint
        run: npm run lint
  type:
    name: Type Check
    runs-on: ubuntu-latest
    needs: [mod]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: "npm"
          cache-dependency-path: "client/package-lock.json"
      - name: Set Mod Cache
        id: mod-cache
        uses: actions/cache@v3.3.2
        with:
          path: ./client/node_modules
          key: mod-${{ hashFiles('**/package-lock.json') }}
      - name: Type Check
        run: npm run type-check
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [mod]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: "npm"
          cache-dependency-path: "client/package-lock.json"
      - name: Set Mod Cache
        id: mod-cache
        uses: actions/cache@v3.3.2
        with:
          path: ./client/node_modules
          key: mod-${{ hashFiles('**/package-lock.json') }}
      - name: Build
        run: npm run build
        env:
          NODE_ENV: production
